@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
   font-family: 'Montserrat';
   src: url('./Montserrat-Medium.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Montserrat';
  font-family:'Montserrat', sans-serif;
  overflow-y:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

container{
  color: black;
}

.footer{
  width: 100%;
  position: absolute;
  bottom: -1rem;
}

.all{
  height:100vh;
}

* {
  box-sizing: border-box;
}
